@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-0:before {
  content: "\e70d";
}

.icon-icon-1:before {
  content: "\e72c";
}

.icon-icon-2:before {
  content: "\e736";
}

.icon-icon-3:before {
  content: "\e746";
}

